telethon==1.34.0
aiohttp==3.9.1
aiofiles==23.2.1
cryptg==0.4.0
pyaes==1.6.1
rsa==4.9
requests==2.32.3
certifi==2024.12.14

# Build & Pillow fix (Railway ke liye zaroori)
Pillow==10.4.0
setuptools==75.1.0
wheel==0.45.1
pip==25.0.1

# Pre-built wheels for Linux
--extra-index-url https://www.piwheels.org/simple
